<app-uploader></app-uploader>
<!--<input type="file"-->
       <!--[ng-file-select]="options"-->
       <!--(onUpload)="handleUpload($event)">-->

<!--<div>-->
  <!--Response: {{ uploadFile | json }}-->
<!--</div>-->
