<form [formGroup]="gpUpoader" (submit)="upload(gpUpoader.value)">
  <input type="file" (change)="fileChangeEvent($event)" multiple placeholder="Upload file..." />
  <input type="text" formControlName="gpName">
  <input type="text" formControlName="gpEmail">
  <button type="submit">Upload</button>
</form>

